@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color:#393d41;
    line-height: 1.65;

}
.logo{
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.logo img{
    width: 30%;
}
.text-header{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
   text-align: center;
   

}
h1,h2{
    font-family: "Montserrat", sans-serif;
    color: #25a2c3;
    line-height: 1;
}
.text-header a{
font-family: "Montserrat", sans-serif;
background-color: #f04c2f;
padding: 15px 30px ;
border-radius: 5px;
color: white;
text-decoration: none;
font-weight: 200;

}
.text-header p{
    padding-bottom: 1.8em;
}
header{
    margin-bottom: 20px;
}
.article h2{
font-size:1.1em;
padding-bottom: 15px;

}
.article{
    text-align: center;
    padding: 40px;
    
}
 .cerchio{
    background-image: url(../img/notebook.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    
 }
 aside{
    background-color:#e22d0e;
    color:white;
    text-align: center;
    padding-bottom: 1.2em;
 }
 h4{
    font-size:2.3em;
    padding-top: 1.4em;
    margin-bottom: 1.1em;
    font-weight: 700;
 }
 cite{
  font-size: 20px;
  padding: 7px 10px 30px 10px;
  line-height: 20px;
 }
 .container-autore{
    margin-top: 2.5em;
    margin-bottom: 1.1em;
 }
 .autore{
    font-size: 1.6em;

  
 }
 .CIO{
   
    font-size: 1.2em;
 }
 .container-img1{
   background-image: url(../img/foto1.jpg);
   
 }
 .container-img2{
    background-image: url(../img/foto2.jpg);
   
  }
  .container-img3{
    background-image: url(../img/foto3.jpg);
    
  }
  .container-img1, .container-img2, .container-img3{
    background-size: cover;
   width: 100%;
   height: 35vh;
   

  }
  .cotainer{
    display: inline-block;
    margin: 20px;
    border: 5px solid #dee1e3;
    
  }
  section{
    text-align: center;
    margin:40px 30px 40px 30px;
    text-align: center;
    
    
  }
  .container h2 {
    padding: 40px 0 25px;
  }
  .container p{
    margin: 0 30px;
    padding: 0px 10px 30px 10px;
  }